<!-- Title for the ion view -->
<ion-view title="About Us">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END LEFT SIDE BUTTON
  ====================== -->

 
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content feed margin_bottom">
    <div class="team_block">
          <div class="single_team">
              <div class="team_profile">
                <img src="img/people1.jpg">

              </div>
              <div class="team_info">
                  <h2>G.V Harsha Kumar </h2>
                  <h3>Chairman</h3>
                  <p>G.V Harsha Kumar is an Indian Politican and former Member of Parliament from Andhra Pradesh , Educated in M.Sc from Andra Univercity Campus.</p>
                  <span>harshakumargv@yahoo.com</span>
                  <a href="#"> Touch to Interact</a>
              </div>

          </div>
           
           
          <div class="single_team">
              <div class="team_profile">
                <img src="img/people2.jpg">

              </div>
              <div class="team_info">
                  <h2>G.V Sri Raj</h2>
                  <h3>Director</h3>
                  <p>G.V Sri Raj is an Indian Politician from Andhra Pradesh. educated in international relations from London School of Economics & MBA from England.</p>
                  <span>gvsriraj@geddaminfra.com</span>
                  <a href="#"> Touch to Interact</a>
              </div>
              
          </div>
          <div class="single_team">
              <div class="team_profile">
                <img src="img/people3.jpg">

              </div>
              <div class="team_info">
                  <h2>G.V Sunder</h2>
                  <h3>Director</h3>
                  <p>G.V Sunder is a Indian businessman & information Technology Expert, Educated in M.Tech from JNTU, Kakinada & Partner TCS-ION Zone.</p>
                  <span>Sundergeddam@gaddaminfra.com</span>
                  <a href="#"> Touch to Interact</a>
              </div>
              
          </div>
          <div class="celebrate">
            
            <img src="img/celebrate.jpg">
          </div>

    </div>
    

     
  </ion-content>
  <div class="bar bar-footer text-center bottom_contact">
    <h3>Contact No : 0883 - 24619440</h3>
</div>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
