<!-- Title for the ion view -->
<ion-view title="Main Office Contacts">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END LEFT SIDE BUTTON
  ====================== -->

 
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content margin_bottom">
    <div class="admin_block">
           
           
           
           
           
          <div class="celebrate">
            
            <img src="img/celebrate.jpg">
          </div>

          <div class="quick_links">

          <ul>
              <li><a href=""> Examination</a></li>
              <li><a href=""> Library</a></li>
              <li><a href=""> Physical Director</a></li>
              <li><a href=""> Security</a></li>
              <li><a href=""> Bus information</a></li>
             
             

          </ul>
              

<span class="note">
  
  * Click on the Above to Directly Call the Contact
</span>

 

          </div>

    </div>
    

     
  </ion-content>
  <div class="bar bar-footer text-center bottom_contact">
    <h3>Contact No : 0883 - 24619440</h3>
</div>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
