<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
  <ion-content>
    <div class="gem-form text-center">
      <!-- Logo as you please -->
      <div class="gem-splash-logo">
        <img src="img/logo.png" alt="Logo">
         
      </div>
    <div class="logo_title">
      <h2>Rajiv Gandhi Educational Institutions</h2>
      <h3>Rajahmundry</h3>

    </div>
      <!-- end Logo -->

      <div class="list_menus">
        <ul>
            <li><a href="#/app/about">About Us</a></li>
            <li><a href="#/app/administration">Administration</a></li>
            <li><a href="#/app/student-portal">Students Portal</a></li>
            <li><a href="#/app/exams-results">Exams - Results</a></li>
            <li><a href="#/app/mainoffice-contacts">Main Office - Contacts</a></li>
            <li><a href="#/app/news-epaper">News & E-Paper for Students</a></li>


        </ul>
        






      </div>
    </div>    
  </ion-content>
  <div class="bar bar-footer text-center bottom_contact">
    <h3>Contact No : 0883 - 24619440</h3>
</div>
</ion-view>